/* ********** Colors ********** */
:root {
  --primary-color: #2A5ADA;
  --secondary-color: #FFD700;
  --accent-color: #28A745;
  --text-color: #333;
  --bgColor: #fff;
  --story-img: #f5f5f5;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  p, li {
    font-size: 11px;
  }

  header {
    background: url(../images/bg-slider-sm.png);
    background-size: cover;
  }

  header nav a.navbar-brand {
    font-size: 20px;
  }

  header .overlay-text h1 {
    font-size: 35px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (max-width: 767.98.98px) {}

/* Medium devices (desktops, 768px and up) */
@media (max-width: 991.98px) {
  header nav ul.navbar-nav {
    padding: 10px 0 !important;
    background: rgb(42 90 218 / 95%);
  }

  header nav li.nav-item:not(:last-child)::after {
    left: 0;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--secondary-color);
  }
}

/* Large devices (large desktops, 992px and up) */
@media (max-width: 1199.98px) {}

/* Extra large devices (larger desktops, 1200px and up) */
@media (max-width: 1399.98px) {}

/* XL devices (very large screens, 1400px and up) */
@media (max-width: 1999.98px) {}

/* XXL devices (very large screens, 2000px and up) */
@media (max-width: 2999.98px) {}

/* XXXL devices (very large screens, 3000px and up) */
@media (min-width: 3000px) {}